footer {
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    position: relative;

}

.social-icons {
    padding: 5px;
    ul {
        display: flex;
        justify-content: center;
        li {
            padding:0 10px;
        }
    }
}
