footer {
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding: 0;
    div {
        padding: 1px;
    }


}

.social-icons {
    padding: 0;
    ul {
        display: flex;
        justify-content: center;
        li {
            padding:0 10px;
        }
    }
}
