.main-menu {
    max-width: 400px;
    height: 100vh;
    width: 90%;
    justify-content: left;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    position: fixed;
    z-index: 10;
}

.menu-container {
    max-width: 400px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding-top: 175px;
}
