.portfolio {
    margin: 2%;
}

.portfolio-nav {
    nav {
        display: flex;
        li {
            padding-right: 15px;
        }
        li:first-child {
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.portfolio-img-list {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 300px;
    grid-gap: 30px;
    grid-auto-columns: 100px;

}


.portfolio-img-list {
    li {
        line-height: 0;
    }
    li img {
        width: 300px;
        
    }
}

.grid-item-5 {
    grid-column: 2 / -1;
    background-color: lightgray;
}


